{% load staticfiles %}
<html>

<head>
    <title>Pear Review Code</title>
    <link rel="stylesheet" href="{% static 'css/pear_review.css' %}">
</head>

<body>
    <h1>Pear Review Code</h1>
    <image style="height:30%" src="http://media.pixcove.com/H/8/9/Cartoon-Animation-Drink-Food-Pears-Pear-Valentine--2848.jpg"
        alt="" class="pr-lgo"></image>
    <nav>
        <a href="/">Issues</a>
        <a href="/comments">Comments</a>
    </nav>
    {% block content %} {% endblock %}
</body>

</html>