{% extends 'pear_review/base.html' %} {% block content %}
<h2> {{ issue.title }}
    <a href="{% url 'issue_edit' pk=issue.pk %}">(edit)</a>
    <a href="{% url 'issue_delete' pk=issue.pk %}">(delete)</a>
</h2>
<h3> {{ issue.body }}</h4>
    <h4> Comments
        <a href="{% url 'comment_create' %}">(+)</a>
    </h4>
    <ul>
        {% for comment in issue.comments.all %}
        <li>
            <a href="{% url 'comment_detail' pk=comment.pk %}">{{comment.content}}</a>
        </li>
        {% endfor %}
    </ul> {% endblock %}